body {
    background-image: url('image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0; 
    height: 100vh;
}

button {
    font-style:inherit;
    background-color: rgb(91, 255, 219);
    color: rgb(66, 39, 5);
}

/* h1 {
    color: rgb(10, 148, 106);
} */
 
/* Trough id  */

#Heading1 {
    
   color: rgb(255, 255, 255); 
}

/* Through class */
/* .Heading1 {
    
    color: rgb(15, 114, 84); 
 } */
 #Heading2 {
    
    color: rgb(94, 201, 169); 
 }